n8n-workflows/nv_ads_daily_reporter.json
[
  {
    "name": "NV Ads Daily Reporter",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8,
                "triggerAtMinute": 0
              }
            ]
          }
        },
        "id": "a1b2c3d4-1111-4aaa-b111-000000000001",
        "name": "Daily 8AM ART",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://graph.facebook.com/v25.0/act_{{ $env.META_AD_ACCOUNT_ID }}/insights",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "fields",
                "value": "campaign_name,adset_name,ad_name,ad_id,spend,impressions,clicks,actions,cost_per_action_type,ctr,cpc,reach,frequency"
              },
              {
                "name": "date_preset",
                "value": "yesterday"
              },
              {
                "name": "level",
                "value": "ad"
              },
              {
                "name": "access_token",
                "value": "={{ $env.META_ACCESS_TOKEN }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "a1b2c3d4-2222-4aaa-b222-000000000002",
        "name": "GET Meta Ads Insights",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          260,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_daily_funnel_metrics",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"p_date\": \"{{ $now.minus({days:1}).toFormat('yyyy-MM-dd') }}\" }",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "a1b2c3d4-3333-4aaa-b333-000000000003",
        "name": "GET Supabase Funnel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          520,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const meta = $('GET Meta Ads Insights').all();\nconst funnel = $('GET Supabase Funnel').first().json;\n\nconst metaTotals = meta.reduce((acc, ad) => {\n  const d = ad.json;\n  acc.spend += parseFloat(d.spend || 0);\n  acc.clicks += parseInt(d.clicks || 0);\n  acc.impressions += parseInt(d.impressions || 0);\n  const regAction = (d.actions || []).find(a => a.action_type === 'offsite_conversion.fb_pixel_complete_registration');\n  if (!regAction) {\n    const regAction2 = (d.actions || []).find(a => a.action_type === 'complete_registration');\n    acc.registrations += parseInt(regAction2?.value || 0);\n  } else {\n    acc.registrations += parseInt(regAction.value || 0);\n  }\n  return acc;\n}, { spend: 0, clicks: 0, impressions: 0, registrations: 0 });\n\nmetaTotals.cpl = metaTotals.registrations > 0 ? (metaTotals.spend / metaTotals.registrations).toFixed(2) : 'N/A';\nmetaTotals.cpc = metaTotals.clicks > 0 ? (metaTotals.spend / metaTotals.clicks).toFixed(2) : 'N/A';\n\nconst sorted = [...meta].sort((a, b) => parseFloat(b.json.spend || 0) - parseFloat(a.json.spend || 0));\nconst topAd = sorted[0]?.json;\nconst worstAd = sorted.find(a => {\n  const s = parseFloat(a.json.spend || 0);\n  const reg = (a.json.actions || []).find(x => x.action_type === 'complete_registration');\n  return s > 15 && (!reg || parseInt(reg.value) === 0);\n})?.json;\n\nreturn [{\n  json: {\n    date: $now.minus({ days: 1 }).toFormat('dd/MM/yyyy'),\n    meta: metaTotals,\n    topAd: topAd ? { name: topAd.ad_name, spend: topAd.spend, ctr: topAd.ctr } : null,\n    worstAd: worstAd ? { name: worstAd.ad_name, spend: worstAd.spend } : null,\n    funnel: funnel || {},\n    adsToPause: sorted.filter(a => {\n      const s = parseFloat(a.json.spend || 0);\n      const reg = (a.json.actions || []).find(x => x.action_type === 'complete_registration');\n      return s > 15 && (!reg || parseInt(reg.value) === 0);\n    }).map(a => ({ ad_id: a.json.ad_id, name: a.json.ad_name, spend: a.json.spend }))\n  }\n}];"
        },
        "id": "a1b2c3d4-4444-4aaa-b444-000000000004",
        "name": "Merge & Calculate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          780,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"max_tokens\": 400,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos el CMO de NovaVision, un SaaS de tiendas online para pymes argentinas. Analizas metricas diarias de publicidad y funnel. Respondes SIEMPRE en formato: 3 numeros clave (con emoji) -> 1 insight -> 1 accion concreta para hoy. Maximo 200 palabras. Tono directo, sin corporativo.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Reporte {{ $json.date }}:\\n\\nMeta Ads:\\n- Spend: ${{ $json.meta.spend.toFixed(2) }}\\n- Clicks: {{ $json.meta.clicks }}\\n- Impressions: {{ $json.meta.impressions }}\\n- Registrations: {{ $json.meta.registrations }}\\n- CPL: ${{ $json.meta.cpl }}\\n- CPC: ${{ $json.meta.cpc }}\\n\\nMejor ad: {{ $json.topAd ? $json.topAd.name + ' (spend: $' + $json.topAd.spend + ', CTR: ' + $json.topAd.ctr + '%)' : 'N/A' }}\\nPeor ad: {{ $json.worstAd ? $json.worstAd.name + ' (spend: $' + $json.worstAd.spend + ', 0 conversiones)' : 'Ninguno' }}\\n\\nFunnel Supabase: {{ JSON.stringify($json.funnel) }}\\n\\nAds a pausar: {{ $json.adsToPause.length }}\"\n    }\n  ]\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "a1b2c3d4-5555-4aaa-b555-000000000005",
        "name": "OpenAI Analysis",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1040,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v25.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $env.FOUNDER_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.choices[0].message.content) }}\n  }\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "a1b2c3d4-6666-4aaa-b666-000000000006",
        "name": "Send WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1300,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $('Merge & Calculate').first().json;\nconst adsToPause = data.adsToPause || [];\nif (adsToPause.length === 0) return [];\nreturn adsToPause.map(ad => ({ json: ad }));"
        },
        "id": "a1b2c3d4-7777-4aaa-b777-000000000007",
        "name": "Auto-pause Bad Ads",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1560,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v25.0/{{ $json.ad_id }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "access_token",
                "value": "={{ $env.META_ACCESS_TOKEN }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"status\": \"PAUSED\"\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "a1b2c3d4-8888-4aaa-b888-000000000008",
        "name": "Pause Ad",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1820,
          0
        ]
      }
    ],
    "connections": {
      "Daily 8AM ART": {
        "main": [
          [
            {
              "node": "GET Meta Ads Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Meta Ads Insights": {
        "main": [
          [
            {
              "node": "GET Supabase Funnel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Supabase Funnel": {
        "main": [
          [
            {
              "node": "Merge & Calculate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge & Calculate": {
        "main": [
          [
            {
              "node": "OpenAI Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Analysis": {
        "main": [
          [
            {
              "node": "Send WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send WhatsApp": {
        "main": [
          [
            {
              "node": "Auto-pause Bad Ads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto-pause Bad Ads": {
        "main": [
          [
            {
              "node": "Pause Ad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/Argentina/Buenos_Aires"
    },
    "versionId": "1",
    "meta": {
      "instanceId": "nv-ads-daily-reporter-v1"
    },
    "tags": [
      {
        "name": "ads"
      },
      {
        "name": "daily-report"
      },
      {
        "name": "novavision"
      }
    ],
    "id": "vFyKV2w0M5LCYlla",
    "staticData": null,
    "pinData": {}
  }
]