n8n-workflows/nv_weekly_ai_report.json
[
  {
    "name": "NV Weekly AI Report",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8,
                "triggerAtMinute": 0,
                "triggerAtDay": {
                  "value": 0
                }
              }
            ]
          }
        },
        "id": "a1b2c3d4-0001-4000-8000-000000000001",
        "name": "Weekly Sunday 8AM ART",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://graph.facebook.com/v25.0/act_{{$env.META_AD_ACCOUNT_ID}}/insights?fields=campaign_name,spend,impressions,clicks,actions,ctr,cpc&date_preset=last_7d&level=campaign&access_token={{$env.META_ACCESS_TOKEN}}",
          "options": {}
        },
        "id": "a1b2c3d4-0002-4000-8000-000000000002",
        "name": "GET Meta 7-day Insights",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$env.SUPABASE_URL}}/rest/v1/rpc/get_weekly_funnel_metrics",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{$env.SUPABASE_SERVICE_ROLE}}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"p_days\": 7}",
          "options": {}
        },
        "id": "a1b2c3d4-0003-4000-8000-000000000003",
        "name": "GET Supabase Weekly Funnel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          720,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const meta = $('GET Meta 7-day Insights').all();\nconst funnel = $('GET Supabase Weekly Funnel').first().json;\n\nconst totalSpend = meta.reduce((s, c) => s + parseFloat(c.json.spend || 0), 0);\nconst totalClicks = meta.reduce((s, c) => s + parseInt(c.json.clicks || 0), 0);\nconst totalImpressions = meta.reduce((s, c) => s + parseInt(c.json.impressions || 0), 0);\n\nconst campaigns = meta.map(c => {\n  const regs = (c.json.actions || []).find(a => a.action_type === 'complete_registration');\n  return {\n    name: c.json.campaign_name,\n    spend: parseFloat(c.json.spend || 0),\n    clicks: parseInt(c.json.clicks || 0),\n    registrations: parseInt(regs?.value || 0),\n    ctr: c.json.ctr\n  };\n});\n\nconst best = campaigns.reduce((b, c) => c.registrations > (b?.registrations || 0) ? c : b, null);\nconst worst = campaigns.filter(c => c.spend > 10 && c.registrations === 0).sort((a, b) => b.spend - a.spend)[0];\n\nreturn [{\n  json: {\n    period: `${$now.minus({days:7}).toFormat('dd/MM')} \\u2014 ${$now.minus({days:1}).toFormat('dd/MM/yyyy')}`,\n    totalSpend: totalSpend.toFixed(2),\n    totalClicks,\n    totalImpressions,\n    campaigns,\n    bestCampaign: best,\n    worstCampaign: worst,\n    funnel: funnel || {}\n  }\n}];"
        },
        "id": "a1b2c3d4-0004-4000-8000-000000000004",
        "name": "Calculate KPIs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.OPENAI_API_KEY}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 800,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos el CMO de NovaVision. Analiz\\u00e1s datos semanales completos y gener\\u00e1s: 1) Resumen ejecutivo (3 n\\u00fameros que importan), 2) Lo que funcion\\u00f3 esta semana, 3) Lo que no funcion\\u00f3, 4) El tramo del funnel con m\\u00e1s ca\\u00edda, 5) Las 3 acciones prioritarias para la semana que viene (ordenadas por impacto). S\\u00e9 espec\\u00edfico, usa los datos reales, no generalices.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Reporte semanal NovaVision ({{ $json.period }}):\\n\\n--- META ADS ---\\nGasto total: ${{ $json.totalSpend }}\\nClicks totales: {{ $json.totalClicks }}\\nImpresiones totales: {{ $json.totalImpressions }}\\nCampa\\u00f1as: {{ JSON.stringify($json.campaigns) }}\\nMejor campa\\u00f1a: {{ JSON.stringify($json.bestCampaign) }}\\nPeor campa\\u00f1a: {{ JSON.stringify($json.worstCampaign) }}\\n\\n--- FUNNEL SEMANAL ---\\nRegistros: {{ $json.funnel.registrations || 0 }}\\nOnboardings completados: {{ $json.funnel.onboardings || 0 }}\\nPagos: {{ $json.funnel.payments || 0 }}\\nMRR: ${{ $json.funnel.mrr || 0 }}\\nCPL Meta: ${{ $json.totalSpend > 0 && $json.funnel.registrations > 0 ? ($json.totalSpend / $json.funnel.registrations).toFixed(2) : 'N/A' }}\\nContactos outreach: {{ $json.funnel.outreach_contacts || 0 }}\\nHot leads: {{ $json.funnel.hot_leads || 0 }}\\n\\nGener\\u00e1 el reporte semanal estrat\\u00e9gico.\"\n    }\n  ]\n}",
          "options": {}
        },
        "id": "a1b2c3d4-0005-4000-8000-000000000005",
        "name": "OpenAI Strategic Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v25.0/{{$env.WHATSAPP_PHONE_ID}}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.WHATSAPP_TOKEN}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$env.FOUNDER_PHONE}}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": {{ JSON.stringify($('OpenAI Strategic Report').first().json.choices[0].message.content) }}\n  }\n}",
          "options": {}
        },
        "id": "a1b2c3d4-0006-4000-8000-000000000006",
        "name": "Send WhatsApp Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1440,
          300
        ]
      }
    ],
    "connections": {
      "Weekly Sunday 8AM ART": {
        "main": [
          [
            {
              "node": "GET Meta 7-day Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Meta 7-day Insights": {
        "main": [
          [
            {
              "node": "GET Supabase Weekly Funnel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Supabase Weekly Funnel": {
        "main": [
          [
            {
              "node": "Calculate KPIs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate KPIs": {
        "main": [
          [
            {
              "node": "OpenAI Strategic Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Strategic Report": {
        "main": [
          [
            {
              "node": "Send WhatsApp Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/Argentina/Buenos_Aires"
    },
    "versionId": "1",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "nv-weekly-ai-report"
    },
    "tags": [
      {
        "name": "NovaVision",
        "id": "1"
      },
      {
        "name": "Weekly Report",
        "id": "2"
      }
    ],
    "id": "l0lHnTjsdehOMMim",
    "staticData": null,
    "pinData": {}
  }
]