n8n-workflows/wf-ig-inbound-v1.json
{
  "name": "WF-IG-INBOUND-V1 — Instagram DM Inbound",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ig-webhook",
      "name": "Webhook IG Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 260],
      "webhookId": "ig-inbound-v1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ig-respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [420, 260]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst parseMaybeJson = (value) => {\n  if (typeof value !== 'string') return value;\n  try {\n    return JSON.parse(value);\n  } catch {\n    return value;\n  }\n};\nconst asObject = (value) => value && typeof value === 'object' && !Array.isArray(value) ? value : null;\nconst hasOwn = (value, key) => Object.prototype.hasOwnProperty.call(value || {}, key);\nconst looksLikeMetaPayload = (value) => {\n  const obj = asObject(value);\n  return !!obj && (obj.object === 'instagram' || obj.object === 'page' || (Array.isArray(obj.entry) && obj.entry.length > 0));\n};\nconst looksLikeRelayEnvelope = (value) => {\n  const obj = asObject(value);\n  return !!obj && (hasOwn(obj, 'relay') || (hasOwn(obj, 'body') && (hasOwn(obj, 'headers') || hasOwn(obj, 'relay'))));\n};\n\nconst inputObject = asObject(parseMaybeJson(input)) || {};\nconst level1 = asObject(parseMaybeJson(inputObject.body));\nconst level2 = asObject(parseMaybeJson(level1?.body));\nconst relayEnvelope = [inputObject, level1, level2].find(looksLikeRelayEnvelope) || null;\nconst relay = relayEnvelope?.relay ?? level2?.relay ?? level1?.relay ?? inputObject.relay ?? null;\nconst headers = relayEnvelope?.headers ?? level2?.headers ?? level1?.headers ?? inputObject.headers ?? null;\nconst bodyCandidates = [level2, parseMaybeJson(relayEnvelope?.body), level1, parseMaybeJson(inputObject.body), inputObject]\n  .map((value) => parseMaybeJson(value))\n  .filter((value) => value != null);\nconst parsedBody = bodyCandidates.find(looksLikeMetaPayload) || bodyCandidates.find((value) => asObject(value)) || bodyCandidates[0] || null;\nconst hasMetaEnvelope = Array.isArray(parsedBody?.entry) && parsedBody.entry.length > 0;\nconst isMetaPayload = looksLikeMetaPayload(parsedBody);\nconst relayValidated = [true, 'true', 1, '1'].includes(relay?.validated_by_api);\nif (relayValidated && isMetaPayload) {\n  return [{\n    json: {\n      ...inputObject,\n      headers,\n      relay,\n      body: parsedBody\n    }\n  }];\n}\nif (isMetaPayload) {\n  return [{\n    json: {\n      ...inputObject,\n      headers,\n      body: parsedBody,\n      relay: {\n        ...(relay || {}),\n        source: relay?.source || 'meta-direct-to-n8n',\n        channel: 'INSTAGRAM',\n        validated_by_api: false,\n        direct_compatibility_mode: true\n      }\n    }\n  }];\n}\nthrow new Error('Unsupported Instagram webhook payload. Expected NovaVision API relay or direct Meta payload.');"
      },
      "id": "ig-verify-sig",
      "name": "Verify Meta Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 260]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst entry = body?.entry?.[0] || {};\nconst messaging = entry?.messaging?.[0] || null;\nif (!messaging || messaging?.message?.is_echo) {\n  return [{ json: { is_supported_event: false, is_status_update: true } }];\n}\nconst attachments = messaging.message?.attachments || [];\nconst firstAttachmentType = String(attachments[0]?.type || '').toLowerCase();\nconst typeMap = { image: 'IMAGE', audio: 'AUDIO', video: 'VIDEO', file: 'FILE', sticker: 'STICKER' };\nconst mappedType = attachments.length > 0 ? (typeMap[firstAttachmentType] || 'UNKNOWN') : 'TEXT';\nconst text = messaging.message?.text || messaging.postback?.title || messaging.quick_reply?.payload || '';\nconst channelAccountId = messaging.recipient?.id || entry?.id || body?.entry?.[0]?.id || null;\nreturn [{\n  json: {\n    is_supported_event: Boolean(messaging.message || messaging.postback),\n    is_status_update: false,\n    channel: 'INSTAGRAM',\n    provider: 'META',\n    provider_message_id: messaging.message?.mid || messaging.postback?.mid || null,\n    provider_parent_message_id: messaging.message?.reply_to?.mid || null,\n    external_user_id: messaging.sender?.id || null,\n    channel_account_id: channelAccountId,\n    external_display_name: messaging.sender?.name || '',\n    message_type: mappedType,\n    event_type: 'MESSAGE',\n    direction: 'INBOUND',\n    text_body: text,\n    normalized_text: (text || '').trim(),\n    media_url: attachments[0]?.payload?.url || null,\n    raw_payload: messaging,\n    received_at: new Date(messaging.timestamp || Date.now()).toISOString()\n  }\n}];"
      },
      "id": "ig-parse-event",
      "name": "Parse Instagram Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "unsupported",
              "leftValue": "={{ !!$json.is_supported_event && !$json.is_status_update }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "ig-filter-unsupported",
      "name": "Filter Unsupported Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 260]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS(\n  SELECT 1\n  FROM public.message_events me\n  WHERE me.channel = 'INSTAGRAM'\n    AND me.provider = 'META'\n    AND me.provider_message_id = {{ ($node[\"Parse Instagram Event\"].json.provider_message_id) == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.provider_message_id).replace(/'/g, \"''\") + \"'\" }}\n  LIMIT 1\n) AS is_duplicate"
      },
      "id": "ig-check-dedup",
      "name": "Check IG Dedup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 260],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "is-dup",
              "leftValue": "={{ !($json.is_duplicate === true || $json.is_duplicate === 'true' || $json.is_duplicate === 1 || $json.is_duplicate === '1' || $json.is_duplicate === 't') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "ig-is-dup",
      "name": "Already Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 260]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.resolve_conversation_entities(\n  'INSTAGRAM',\n  'META',\n  {{ ($node[\"Parse Instagram Event\"].json.external_user_id) == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.external_user_id).replace(/'/g, \"''\") + \"'\" }},\n  {{ ($node[\"Parse Instagram Event\"].json.channel_account_id) == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.channel_account_id).replace(/'/g, \"''\") + \"'\" }},\n  {{ ($node[\"Parse Instagram Event\"].json.external_display_name || 'Instagram Lead') == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.external_display_name || 'Instagram Lead').replace(/'/g, \"''\") + \"'\" }},\n  NULL,\n  NULL\n)"
      },
      "id": "ig-resolve-entities",
      "name": "Resolve Contact + Thread",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1740, 260],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH event_insert AS (\n  SELECT public.append_message_event(\n    {{ ($json.thread_id) == null ? 'NULL::uuid' : \"'\" + String($json.thread_id).replace(/'/g, \"''\") + \"'::uuid\" }},\n    {{ ($json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }},\n    'INSTAGRAM',\n    'META',\n    'INBOUND',\n    'LEAD',\n    'MESSAGE',\n    {{ ($node[\"Parse Instagram Event\"].json.message_type) == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.message_type).replace(/'/g, \"''\") + \"'\" }},\n    {{ ($node[\"Parse Instagram Event\"].json.provider_message_id) == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.provider_message_id).replace(/'/g, \"''\") + \"'\" }},\n    {{ ($node[\"Parse Instagram Event\"].json.provider_parent_message_id) == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.provider_parent_message_id).replace(/'/g, \"''\") + \"'\" }},\n    {{ (('ig:' + $node[\"Parse Instagram Event\"].json.provider_message_id)) == null ? 'NULL' : \"'\" + String('ig:' + $node[\"Parse Instagram Event\"].json.provider_message_id).replace(/'/g, \"''\") + \"'\" }},\n    {{ ($node[\"Parse Instagram Event\"].json.text_body || '') == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.text_body || '').replace(/'/g, \"''\") + \"'\" }},\n    {{ ($node[\"Parse Instagram Event\"].json.normalized_text || '') == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.normalized_text || '').replace(/'/g, \"''\") + \"'\" }},\n    {{ ($node[\"Parse Instagram Event\"].json.media_url) == null ? 'NULL' : \"'\" + String($node[\"Parse Instagram Event\"].json.media_url).replace(/'/g, \"''\") + \"'\" }},\n    NULL,\n    NULL,\n    NULL,\n    'RECEIVED',\n    'PROCESSED',\n    NULL,\n    NULL,\n    {{ \"'\" + JSON.stringify(($node[\"Parse Instagram Event\"].json.raw_payload || {}) || {}).replace(/'/g, \"''\") + \"'::jsonb\" }},\n    NULL,\n    {{ ($node[\"Parse Instagram Event\"].json.received_at) == null ? 'NULL::timestamptz' : \"'\" + String($node[\"Parse Instagram Event\"].json.received_at).replace(/'/g, \"''\") + \"'::timestamptz\" }}\n  ) AS event_id\n), lead_sync AS (\n  SELECT public.sync_contact_to_outreach_lead({{ ($json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }}, {{ ($json.contact_channel_identity_id) == null ? 'NULL::uuid' : \"'\" + String($json.contact_channel_identity_id).replace(/'/g, \"''\") + \"'::uuid\" }}, 'IN_CONVERSATION', 'INSTAGRAM', NULL, NULL, true) AS lead_id\n), inbound_log AS (\n  SELECT public.sync_message_event_to_outreach_log((SELECT event_id FROM event_insert), (SELECT lead_id FROM lead_sync), 'INBOUND_MESSAGE') AS log_id\n)\nSELECT\n  (SELECT event_id FROM event_insert) AS event_id,\n  (SELECT lead_id FROM lead_sync) AS lead_id,\n  (SELECT log_id FROM inbound_log) AS inbound_log_id,\n  {{ ($json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }} AS contact_id,\n  {{ ($json.thread_id) == null ? 'NULL::uuid' : \"'\" + String($json.thread_id).replace(/'/g, \"''\") + \"'::uuid\" }} AS thread_id,\n  {{ ($json.contact_channel_identity_id) == null ? 'NULL::uuid' : \"'\" + String($json.contact_channel_identity_id).replace(/'/g, \"''\") + \"'::uuid\" }} AS identity_id,\n  COALESCE((SELECT c.ai_engagement_score FROM public.contacts c WHERE c.id = {{ ($json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }}), 0) AS ai_engagement_score"
      },
      "id": "ig-append-inbound",
      "name": "Append Inbound Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1960, 260],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.contacts c\n   SET lifecycle_status = 'IN_CONVERSATION',\n       source = COALESCE(c.source, 'INBOUND_IG'),\n       conversation_stage = COALESCE(c.conversation_stage, 'INTRO'),\n       bot_enabled = true,\n       next_followup_at = NULL,\n       updated_at = NOW()\n WHERE c.id = {{ ($node[\"Append Inbound Event\"].json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($node[\"Append Inbound Event\"].json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }}\n RETURNING c.id"
      },
      "id": "ig-update-contact-state",
      "name": "Update Contact Inbound State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2080, 120],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  t.human_handoff,\n  coalesce(cci.is_opted_out, false) AS is_opted_out,\n  (\n    SELECT COUNT(*)\n    FROM public.message_events me\n    WHERE me.thread_id = t.id\n      AND me.direction = 'OUTBOUND'\n      AND me.actor = 'BOT'\n      AND me.created_at > coalesce((SELECT max(me2.created_at) FROM public.message_events me2 WHERE me2.thread_id = t.id AND me2.direction = 'INBOUND'), to_timestamp(0))\n  ) AS consecutive_bot_outbound,\n  (\n    SELECT max(me.created_at)\n    FROM public.message_events me\n    WHERE me.thread_id = t.id\n      AND me.direction = 'INBOUND'\n  ) AS last_inbound_at\nFROM public.threads t\nJOIN public.contact_channel_identities cci ON cci.id = {{ ($node[\"Append Inbound Event\"].json.identity_id) == null ? 'NULL::uuid' : \"'\" + String($node[\"Append Inbound Event\"].json.identity_id).replace(/'/g, \"''\") + \"'::uuid\" }}\nWHERE t.id = {{ ($node[\"Append Inbound Event\"].json.thread_id) == null ? 'NULL::uuid' : \"'\" + String($node[\"Append Inbound Event\"].json.thread_id).replace(/'/g, \"''\") + \"'::uuid\" }}"
      },
      "id": "ig-load-guardrails",
      "name": "Check Compliance Gates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2180, 260],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const gates = $input.first().json || {};\nconst lastInboundAt = gates.last_inbound_at ? new Date(gates.last_inbound_at).getTime() : Date.now();\nconst within24h = (Date.now() - lastInboundAt) <= (24 * 60 * 60 * 1000);\nlet blockedBy = null;\nif (gates.is_opted_out) blockedBy = 'opt_out';\nelse if (gates.human_handoff) blockedBy = 'human_handoff';\nelse if (!within24h) blockedBy = 'outside_24h_window';\nelse if (Number(gates.consecutive_bot_outbound || 0) >= 3) blockedBy = 'too_many_bot_outbound';\nreturn [{ json: { ...gates, can_reply: !blockedBy, blocked_by: blockedBy } }];"
      },
      "id": "ig-apply-guardrails",
      "name": "Apply Guardrails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "can-reply",
              "leftValue": "={{$json.can_reply}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "ig-can-reply",
      "name": "Can Auto Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2620, 260]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  CASE\n    WHEN me.direction = 'INBOUND' THEN 'LEAD'\n    WHEN me.actor = 'BOT' THEN 'BOT'\n    WHEN me.actor = 'HUMAN' THEN 'HUMAN'\n    ELSE me.direction\n  END AS direction,\n  COALESCE(me.normalized_text, me.text_body, me.provider_message_id, '[sin texto]') AS message_text,\n  me.created_at\nFROM public.message_events me\nWHERE me.thread_id = {{ ($node[\"Append Inbound Event\"].json.thread_id) == null ? 'NULL::uuid' : \"'\" + String($node[\"Append Inbound Event\"].json.thread_id).replace(/'/g, \"''\") + \"'::uuid\" }}\nORDER BY me.created_at DESC\nLIMIT 10"
      },
      "id": "ig-get-history",
      "name": "Load Conversation Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2840, 160],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, segment, stage, type, title, content, priority, topic\nFROM nv_playbook\nWHERE active = true\nORDER BY priority ASC"
      },
      "id": "ig-get-playbook",
      "name": "Get NV Playbook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3060, 160],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const playbook = $input.first().json || [];\nconst playbookArr = Array.isArray(playbook) ? playbook : [];\nconst sections = playbookArr.sort((a, b) => (a.priority || 0) - (b.priority || 0)).map(p => `### ${p.title}\\n${p.content}`).join('\\n\\n');\nconst systemPrompt = `Sos NovaBot, asistente de NovaVision para Instagram DM.\\n\\nREGLAS ABSOLUTAS:\\n1. Responder siempre en español argentino, corto, claro, natural y sin tono de vendedor agresivo.\\n2. Usá FAQ_CONTEXT como fuente prioritaria para planes, precios, onboarding y funcionalidades cuando venga con matches; si FAQ_CONTEXT está vacío, apoyate en PLAYBOOK.\\n3. No inventar precios, promociones, rubro ni contexto que el lead no haya dicho. Si FAQ_CONTEXT trae montos públicos, podés citarlos textual.\\n4. No repreguntar datos que el lead ya compartió en el historial.\\n5. Si ya hubo mensajes del bot, no te vuelvas a presentar, no saludes de nuevo y no repitas la misma idea ni el mismo CTA.\\n6. Mantener mensajes aptos para DM, máximo 300 caracteres.\\n7. Evitá frases vacías como “te ayudo a crecer” o “mejorá tus ventas” si no las aterrizás en algo concreto. Cuando aporte, mencioná 1 o 2 resultados reales de NovaVision: tienda propia, catálogo claro, compra sin escribir por todo, cobros integrados, pedidos más ordenados o mejor imagen profesional.\\n8. En mensajes iniciales o cuando el lead pide info general al arrancar, incluí de forma natural este CTA: https://novavision.lat/builder y aclarale que ahí puede crear su tienda online en minutos.\\n9. Si el lead pregunta precio, costo, tarifa o cuánto sale, respondé directo. Si FAQ_CONTEXT tiene precios públicos, darlos sin rodeos y sumar https://novavision.lat/precios. Nunca mandes solo al builder ante una pregunta de precio.\\n10. Si el lead responde con una afirmación corta como “si”, “dale”, “ok”, “mandame” o “pasame”, cumplí exactamente lo último que ofreció el bot en vez de reiniciar la conversación o volver a preguntar lo mismo.\\n11. Si el historial ya muestra que compartiste el builder, no lo repitas salvo que el lead pida dónde crear la tienda o quiera avanzar.\\n12. Si el lead pide humano o demo, priorizá invitar a https://novavision.lat/lead y marcá should_notify_sales=true.\\n13. Usá el historial para no repetir textual el último mensaje del bot. Cada reply tiene que aportar algo nuevo: una aclaración útil, un beneficio concreto o un siguiente paso claro.\\n14. Si el lead escribe algo genérico, no respondas genérico: conectá con NovaVision explicando en una frase qué resuelve y cerrá con una pregunta útil.\\n\\nFORMATO JSON OBLIGATORIO:\\n{\\n  \"reply\": \"texto\",\\n  \"engagement_delta\": -10 a 20,\\n  \"conversation_stage\": \"INTRO|DISCOVERY|FOLLOWUP|CLOSING|DEMO_OFFERED|DEMO_BOOKED\",\\n  \"intent\": \"interested|curious|objection|not_interested|spam|human_request\",\\n  \"should_notify_sales\": true/false,\\n  \"reasoning\": \"explicacion interna\"\\n}\\n\\nPLAYBOOK:\\n${sections || '(sin playbook)'}`;\nreturn [{ json: { system_prompt: systemPrompt } }];"
      },
      "id": "ig-build-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 160]
    },
    {
      "parameters": {
        "jsCode": "const history = $node['Load Conversation Context'].json || [];\nconst historyArr = Array.isArray(history) ? history : [];\nconst inbound = $node['Parse Instagram Event'].json;\nconst chronologicalHistory = [...historyArr].reverse();\nconst historyText = chronologicalHistory.map(h => `${h.direction}: ${h.message_text}`).join('\\n');\nconst botMessages = chronologicalHistory.filter(h => String(h.direction || '').toUpperCase() === 'BOT');\nconst lastBotMessage = botMessages.length ? String(botMessages[botMessages.length - 1].message_text || '') : '';\nconst builderUrl = 'https://novavision.lat/builder';\nconst priceRegex = /(precio|precios|cuanto sale|cuánto sale|cuanto cuesta|cuánto cuesta|costo|costos|tarifa|tarifas|plan|planes)/i;\nconst shortAffirmationRegex = /^(si|sí|dale|ok|oka|bueno|genial|perfecto|mandame|mándame|pasame|pasámelo|quiero|me interesa)\\W*$/i;\nconst offeredPriceRegex = /(precio|precios|plan|planes|detalles|link para ver los planes|ver los planes)/i;\nconst offeredBuilderRegex = /(builder|crear tu tienda|armar tu tienda|arrancar|empezar|crear la tienda)/i;\nconst faqs = [\n  { Pregunta: '¿Qué es NovaVision?', Respuesta: 'NovaVision es una plataforma SaaS de e-commerce 100% autogestionable. Creás tu tienda online en minutos con nuestro Design Studio: elegís un template, personalizás colores y cargás tus productos sin necesitar conocimientos técnicos ni intermediarios.', Categoría: 'General', Enlace: 'https://www.novavision.lat' },\n  { Pregunta: '¿Qué diferencia a NovaVision de otras plataformas como Tiendanube o Shopify?', Respuesta: 'Tres cosas principales: 1) 0% comisión por venta, 2) SEO con Inteligencia Artificial incluido desde Growth, y 3) onboarding 100% self-serve. Además tenés envíos integrados con Andreani, OCA y Correo Argentino desde el plan Growth.', Categoría: 'General', Enlace: '' },\n  { Pregunta: '¿Cuánto sale NovaVision? ¿Cuáles son los planes?', Respuesta: 'Tenemos 3 planes: Starter (USD 20/mes), Growth (USD 60/mes, recomendado) y Enterprise (USD 390/mes para alto volumen). Si pagás anual, te bonificamos 2 meses: Starter USD 200/año, Growth USD 600/año, Enterprise USD 3.500/año. Sin comisión por venta y sin costo de setup.', Categoría: 'Precios', Enlace: 'https://www.novavision.lat/precios' },\n  { Pregunta: '¿Cobran comisión por venta?', Respuesta: 'No, NovaVision cobra 0% de comisión por venta. Solo pagás la suscripción mensual o anual de tu plan. Las únicas comisiones son las que cobra Mercado Pago por procesar los pagos de tus clientes.', Categoría: 'Precios', Enlace: '' },\n  { Pregunta: '¿En qué moneda se cobra?', Respuesta: 'Los precios están en dólares (USD), pero el cobro se realiza en pesos argentinos (ARS) a través de Mercado Pago, usando un tipo de cambio de referencia.', Categoría: 'Precios', Enlace: '' },\n  { Pregunta: '¿Qué incluye el plan Starter?', Respuesta: 'El plan Starter (USD 20/mes) incluye: 1 tienda activa, productos ilimitados, hasta 150 órdenes/mes, tu subdominio en novavision.lat, logo y banners, FAQs, redes sociales, envío manual o retiro en local, y acceso al AI Import Wizard (5 productos por carga).', Categoría: 'Starter', Enlace: '' },\n  { Pregunta: '¿Qué incluye el plan Growth?', Respuesta: 'El plan Growth (USD 60/mes) incluye todo lo de Starter más: hasta 3 tiendas activas, 1.000 órdenes por mes, cupones, analytics, SEO con IA, envíos con Andreani, OCA y Correo Argentino, variantes de producto, config avanzada de pagos, soporte por tickets con SLA y AI Import Wizard (50 productos por carga).', Categoría: 'Growth', Enlace: '' },\n  { Pregunta: '¿Qué incluye el plan Enterprise?', Respuesta: 'El plan Enterprise (USD 390/mes) es para alto volumen. Incluye todo lo de Growth más: hasta 10 tiendas activas, 10.000 órdenes por mes, carril dedicado, redirects SEO 301 o 302, importación masiva con IA, SLA contractual, soporte prioritario y opciones de infraestructura aislada.', Categoría: 'Enterprise', Enlace: '' },\n  { Pregunta: '¿Cómo creo mi tienda? ¿Cobran setup?', Respuesta: 'No hay costo de setup. El proceso es 100% self-serve: entrás a novavision.lat/builder, elegís subdominio, subís logo, cargás productos, elegís template, personalizás colores, conectás Mercado Pago y dejás la tienda lista en minutos.', Categoría: 'Onboarding', Enlace: 'https://novavision.lat/builder' },\n  { Pregunta: '¿Cuánto tardo en tener mi tienda online?', Respuesta: 'El wizard de configuración se completa en minutos. Después pasa por una revisión rápida del equipo y queda publicada y lista para vender.', Categoría: 'Onboarding', Enlace: '' },\n  { Pregunta: '¿Cómo funciona el diseño? ¿Puedo cambiar los colores?', Respuesta: 'Sí. Hay 8 templates profesionales y más de 20 paletas prediseñadas. En el plan Growth podés crear paletas personalizadas con los colores de tu marca.', Categoría: 'Diseño', Enlace: '' },\n  { Pregunta: '¿Puedo cambiar el template después de crear la tienda?', Respuesta: 'Sí, podés cambiar de template en cualquier momento desde el panel de administración sin perder productos ni configuraciones.', Categoría: 'Diseño', Enlace: '' },\n  { Pregunta: '¿Qué métodos de pago incluye?', Respuesta: 'La plataforma tiene integración nativa con Mercado Pago. Tus clientes pueden pagar con tarjeta de crédito, débito, transferencia y efectivo. También podés configurar señas, quién absorbe la comisión y excluir métodos específicos.', Categoría: 'Pagos', Enlace: '' },\n  { Pregunta: '¿Cómo funcionan los envíos?', Respuesta: 'En todos los planes podés configurar envío manual, retiro en local o coordinar por WhatsApp. Desde Growth hay integración automática con Andreani, OCA y Correo Argentino, y también podés ofrecer envío gratis desde cierto monto.', Categoría: 'Envíos', Enlace: '' },\n  { Pregunta: '¿Qué es el SEO con Inteligencia Artificial?', Respuesta: 'Desde Growth tenés auditoría SEO con puntaje, meta titles y descriptions auto-generados, sitemap XML, datos estructurados para Google y un AI SEO Autopilot que optimiza textos con un clic.', Categoría: 'SEO', Enlace: '' },\n  { Pregunta: '¿Puedo importar productos con Inteligencia Artificial?', Respuesta: 'Sí. El AI Import Wizard permite cargas asistidas por IA: Starter 5 por carga, Growth 50 y Enterprise 200.', Categoría: 'Productos', Enlace: '' },\n  { Pregunta: '¿Puedo vender productos con variantes?', Respuesta: 'Sí, desde Growth podés crear variantes de producto con Option Sets como talle, color o material, y también usar guías de talles.', Categoría: 'Productos', Enlace: '' },\n  { Pregunta: '¿Puedo crear cupones de descuento?', Respuesta: 'Sí, desde Growth. Podés crear cupones de porcentaje, monto fijo o envío gratis, definir vigencia y limitar usos.', Categoría: 'Cupones', Enlace: '' },\n  { Pregunta: '¿Tienen período de prueba o trial gratuito?', Respuesta: 'No hay trial gratuito por defecto, pero sí pueden existir cupones promocionales con meses bonificados. Si querés probar la plataforma, consultanos por WhatsApp o email para ver si hay promos activas.', Categoría: 'Trial', Enlace: '' },\n  { Pregunta: '¿Qué tipo de soporte ofrecen?', Respuesta: 'Starter incluye soporte por email. Growth agrega tickets con SLA e hilo de conversación. Enterprise suma soporte prioritario con tiempos de respuesta contractuales.', Categoría: 'Soporte', Enlace: '' },\n  { Pregunta: '¿Puedo usar mi propio dominio?', Respuesta: 'En Starter la tienda funciona con subdominio gratuito. Desde Growth podés conectar tu propio dominio personalizado.', Categoría: 'Dominio', Enlace: '' },\n  { Pregunta: '¿Tienen analytics o reportes?', Respuesta: 'Sí, desde Growth tenés analytics integrados y podés conectar Google Analytics 4 y Google Tag Manager desde el panel.', Categoría: 'Analytics', Enlace: '' },\n  { Pregunta: '¿Cómo los puedo contactar?', Respuesta: 'Podés escribir por WhatsApp al +54 9 11 3930-6801, por email a info@novavision.lat o por este mismo chat.', Categoría: 'Contacto', Enlace: '' }\n];\nconst queryText = String(inbound.normalized_text || '').toLowerCase().trim();\nconst normalizedWords = queryText.split(/\\s+/).filter(word => word.length >= 2);\nconst faqMatches = faqs\n  .map((faq) => {\n    const pregunta = String(faq.Pregunta || '').toLowerCase();\n    const respuesta = String(faq.Respuesta || '').toLowerCase();\n    let score = 0;\n    if (queryText && (pregunta.includes(queryText) || respuesta.includes(queryText))) score += 12;\n    normalizedWords.forEach((word) => {\n      if (pregunta.includes(word)) score += 2;\n      if (respuesta.includes(word)) score += 1;\n    });\n    return { ...faq, score };\n  })\n  .filter((faq) => faq.score > 0)\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 3);\nconst faqContext = faqMatches.length > 0\n  ? faqMatches.map(({ Pregunta, Respuesta, Enlace }) => {\n      let line = `• ${Pregunta}\\n${Respuesta}`;\n      if (Enlace && String(Enlace).trim()) line += `\\nMás info: ${Enlace}`;\n      return line;\n    }).join('\\n\\n')\n  : '';\nconst priceFaq = faqs.find((faq) => String(faq.Pregunta || '').includes('¿Cuánto sale NovaVision?'));\nreturn [{ json: {\n  thread_id: $node['Append Inbound Event'].json.thread_id,\n  contact_id: $node['Append Inbound Event'].json.contact_id,\n  identity_id: $node['Append Inbound Event'].json.identity_id,\n  lead_id: $node['Append Inbound Event'].json.lead_id,\n  ai_engagement_score: Number($node['Append Inbound Event'].json.ai_engagement_score || 0),\n  input_text: inbound.normalized_text,\n  from_user_id: inbound.external_user_id,\n  channel_account_id: inbound.channel_account_id,\n  display_name: inbound.external_display_name || 'Instagram Lead',\n  conversation_history: historyText,\n  last_bot_message: lastBotMessage,\n  builder_already_sent: botMessages.some(h => String(h.message_text || '').includes(builderUrl)),\n  user_asked_price: priceRegex.test(String(inbound.normalized_text || '')),\n  is_short_affirmation: shortAffirmationRegex.test(String(inbound.normalized_text || '').trim()),\n  last_bot_offered_prices: offeredPriceRegex.test(lastBotMessage),\n  last_bot_offered_builder: offeredBuilderRegex.test(lastBotMessage),\n  faq_context: faqContext,\n  faq_match_count: faqMatches.length,\n  faq_price_answer: priceFaq?.Respuesta || ''\n} }];"
      },
      "id": "ig-prepare-context",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 160]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4.1-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{$node['Build AI Prompt'].json.system_prompt}}"
            },
            {
              "role": "user",
              "content": "=LEAD: {{$json.display_name}}\nHISTORIAL:\n{{$json.conversation_history}}\n---\nULTIMO MENSAJE DEL BOT: {{$json.last_bot_message || '(sin mensajes previos)'}}\nBUILDER YA ENVIADO: {{$json.builder_already_sent}}\nPREGUNTA PRECIO: {{$json.user_asked_price}}\nAFIRMACION CORTA: {{$json.is_short_affirmation}}\nEL BOT OFRECIO PRECIOS O DETALLES: {{$json.last_bot_offered_prices}}\nEL BOT OFRECIO BUILDER O ARRANQUE: {{$json.last_bot_offered_builder}}\nFAQ MATCHES: {{$json.faq_match_count}}\nFAQ_CONTEXT:\n{{$json.faq_context || '(sin match FAQ)'}}\n---\nMENSAJE: {{$json.input_text}}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "ig-ai-closer",
      "name": "AI Closer Brain",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [3720, 160],
      "credentials": {
        "openAiApi": {
          "id": "2T4ykWJki0wAQvUx",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet aiOutput;\ntry {\n  const content = raw.message?.content || raw.choices?.[0]?.message?.content || '';\n  aiOutput = JSON.parse(content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim());\n} catch (e) {\n  aiOutput = { reply: 'Gracias por escribirnos. Un asesor te responde a la brevedad.', engagement_delta: 0, conversation_stage: 'INTRO', intent: 'human_request', should_notify_sales: true, reasoning: 'JSON parse failed' };\n}\nconst prev = $node['Prepare AI Context'].json;\nconst validStages = ['INTRO', 'DISCOVERY', 'FOLLOWUP', 'CLOSING', 'DEMO_OFFERED', 'DEMO_BOOKED'];\nconst normalize = (text) => String(text || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/https?:\\/\\/\\S+/g, ' ')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst builderUrl = 'https://novavision.lat/builder';\nconst pricesUrl = 'https://novavision.lat/precios';\nconst mainSiteUrl = 'https://novavision.lat';\nconst staticPriceAnswer = prev.faq_price_answer || 'Tenemos 3 planes públicos: Starter (USD 20/mes), Growth (USD 60/mes) y Enterprise (USD 390/mes para alto volumen). Si pagás anual hay bonificación de 2 meses.';\nconst priceFallback = `${staticPriceAnswer} Más detalle en ${pricesUrl}. Si querés avanzar, arrancás en ${builderUrl}.`;\nconst builderFallback = prev.builder_already_sent\n  ? `Si querés avanzar, podés hacerlo directo en ${builderUrl}. Si preferís, te resumo cuál plan te conviene según cantidad de pedidos o tiendas.`\n  : `NovaVision te sirve para tener tienda propia, catálogo claro y cobros integrados. Si querés arrancar, podés crearla en minutos desde ${builderUrl}.`;\nlet reply = String(aiOutput.reply || '').trim();\nconst normalizedReply = normalize(reply);\nconst normalizedLastBot = normalize(prev.last_bot_message);\nconst repeatedReply = !!normalizedReply && !!normalizedLastBot && (normalizedReply === normalizedLastBot || normalizedReply.includes(normalizedLastBot) || normalizedLastBot.includes(normalizedReply));\nconst askedPrice = !!prev.user_asked_price;\nconst mentionsBuilder = reply.includes(builderUrl);\nconst mentionsMainSite = reply.includes(mainSiteUrl);\nconst mentionsPrices = /(starter|growth|enterprise|usd|20\/mes|60\/mes|390\/mes|precio|precios|plan|planes)/i.test(reply);\nconst shortAffirmation = !!prev.is_short_affirmation;\nif (shortAffirmation && prev.last_bot_offered_prices && (!reply || repeatedReply || !mentionsPrices)) {\n  reply = priceFallback;\n  aiOutput.intent = aiOutput.intent || 'curious';\n  aiOutput.conversation_stage = 'FOLLOWUP';\n  aiOutput.reasoning = `${aiOutput.reasoning || ''} | short affirmation price fallback applied`.trim();\n}\nif (shortAffirmation && !reply && prev.last_bot_offered_builder) {\n  reply = builderFallback;\n  aiOutput.reasoning = `${aiOutput.reasoning || ''} | short affirmation builder fallback applied`.trim();\n}\nif (askedPrice && (!reply || repeatedReply || (mentionsBuilder && !mentionsMainSite) || !mentionsPrices)) {\n  reply = priceFallback;\n  aiOutput.intent = aiOutput.intent || 'curious';\n  aiOutput.conversation_stage = 'FOLLOWUP';\n  aiOutput.reasoning = `${aiOutput.reasoning || ''} | price fallback applied`.trim();\n}\nif (!askedPrice && (!reply || repeatedReply)) {\n  reply = builderFallback;\n  aiOutput.reasoning = `${aiOutput.reasoning || ''} | duplicate fallback applied`.trim();\n}\nreply = reply.substring(0, 300);\nconst engagementDelta = Math.max(-10, Math.min(20, parseInt(aiOutput.engagement_delta) || 0));\nconst nextStage = validStages.includes(aiOutput.conversation_stage) ? aiOutput.conversation_stage : 'INTRO';\nconst newScore = Math.max(0, Math.min(100, Number(prev.ai_engagement_score || 0) + engagementDelta));\nconst isHot = newScore >= 80 || !!aiOutput.should_notify_sales;\nreturn [{ json: {\n  ...prev,\n  reply,\n  new_score: newScore,\n  new_stage: nextStage,\n  intent: aiOutput.intent || 'unknown',\n  should_notify_sales: !!aiOutput.should_notify_sales,\n  is_hot: isHot,\n  reasoning: aiOutput.reasoning || ''\n} }];"
      },
      "id": "ig-post-process",
      "name": "Post-process AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH contact_update AS (\n  UPDATE public.contacts c\n     SET ai_engagement_score = {{ $json.new_score }},\n         conversation_stage = {{ ($json.new_stage) == null ? 'NULL' : \"'\" + String($json.new_stage).replace(/'/g, \"''\") + \"'\" }},\n         hot_lead = {{ $json.is_hot }},\n         ai_state = COALESCE(c.ai_state, '{}'::jsonb) || jsonb_build_object('intent', {{ ($json.intent) == null ? 'NULL' : \"'\" + String($json.intent).replace(/'/g, \"''\") + \"'\" }}, 'score', {{ $json.new_score }}, 'stage', {{ ($json.new_stage) == null ? 'NULL' : \"'\" + String($json.new_stage).replace(/'/g, \"''\") + \"'\" }}, 'reasoning', {{ ($json.reasoning) == null ? 'NULL' : \"'\" + String($json.reasoning).replace(/'/g, \"''\") + \"'\" }}),\n         updated_at = NOW()\n   WHERE c.id = {{ ($json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }}\n   RETURNING c.id\n)\nSELECT public.sync_contact_to_outreach_lead({{ ($json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }}, {{ ($json.identity_id) == null ? 'NULL::uuid' : \"'\" + String($json.identity_id).replace(/'/g, \"''\") + \"'::uuid\" }}, 'IN_CONVERSATION', 'INSTAGRAM', NULL, NULL, true) AS id"
      },
      "id": "ig-update-intel",
      "name": "Sync Legacy Read Model",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4160, 160],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/{{$env.META_GRAPH_VERSION || 'v25.0'}}/{{$env.META_IG_REPLY_ENDPOINT_ID || $json.channel_account_id}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.META_IG_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{$node['Post-process AI'].json.from_user_id}}\" },\n  \"message\": { \"text\": \"{{$node['Post-process AI'].json.reply}}\" }\n}",
        "options": {}
      },
      "id": "ig-send-reply",
      "name": "Send IG Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4380, 160],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH event_insert AS (\n  SELECT public.append_message_event(\n    {{ ($node[\"Post-process AI\"].json.thread_id) == null ? 'NULL::uuid' : \"'\" + String($node[\"Post-process AI\"].json.thread_id).replace(/'/g, \"''\") + \"'::uuid\" }},\n    {{ ($node[\"Post-process AI\"].json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($node[\"Post-process AI\"].json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }},\n    'INSTAGRAM',\n    'META',\n    'OUTBOUND',\n    'BOT',\n    'MESSAGE',\n    'TEXT',\n    {{ ($json.message_id || '') == null ? 'NULL' : \"'\" + String($json.message_id || '').replace(/'/g, \"''\") + \"'\" }},\n    NULL,\n    {{ (($json.message_id ? 'ig-bot:' + $json.message_id : null)) == null ? 'NULL' : \"'\" + String(($json.message_id ? 'ig-bot:' + $json.message_id : null)).replace(/'/g, \"''\") + \"'\" }},\n    {{ ($node[\"Post-process AI\"].json.reply) == null ? 'NULL' : \"'\" + String($node[\"Post-process AI\"].json.reply).replace(/'/g, \"''\") + \"'\" }},\n    {{ ($node[\"Post-process AI\"].json.reply) == null ? 'NULL' : \"'\" + String($node[\"Post-process AI\"].json.reply).replace(/'/g, \"''\") + \"'\" }},\n    NULL,\n    NULL,\n    NULL,\n    NULL,\n    'SENT',\n    'PROCESSED',\n    NULL,\n    NULL,\n    jsonb_build_object('intent', {{ ($node[\"Post-process AI\"].json.intent) == null ? 'NULL' : \"'\" + String($node[\"Post-process AI\"].json.intent).replace(/'/g, \"''\") + \"'\" }}, 'score', {{ $node[\"Post-process AI\"].json.new_score }}, 'stage', {{ ($node[\"Post-process AI\"].json.new_stage) == null ? 'NULL' : \"'\" + String($node[\"Post-process AI\"].json.new_stage).replace(/'/g, \"''\") + \"'\" }}),\n    NOW(),\n    NULL\n  ) AS event_id\n)\nSELECT public.sync_message_event_to_outreach_log((SELECT event_id FROM event_insert), {{ ($node[\"Post-process AI\"].json.lead_id) == null ? 'NULL::bigint' : String($node[\"Post-process AI\"].json.lead_id).replace(/'/g, \"''\") + '::bigint' }}, 'BOT_REPLY') AS id"
      },
      "id": "ig-append-outbound",
      "name": "Append Outbound Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4600, 160],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "is-hot",
              "leftValue": "={{$node['Post-process AI'].json.is_hot}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "ig-is-hot",
      "name": "Hot Lead Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4820, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WHATSAPP_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$env.SALES_ALERT_PHONE}}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"🔥 HOT LEAD IG\\nUsuario: {{$node['Prepare AI Context'].json.display_name}}\\nIG User ID: {{$node['Prepare AI Context'].json.from_user_id}}\\nIntent: {{$node['Post-process AI'].json.intent}}\\nMensaje: {{$node['Prepare AI Context'].json.input_text}}\" }\n}",
        "options": {}
      },
      "id": "ig-notify-sales",
      "name": "Notify Sales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5040, 80],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.compliance_events (\n  thread_id,\n  contact_id,\n  channel,\n  provider,\n  compliance_type,\n  reason,\n  payload,\n  created_at\n)\nVALUES (\n  {{ ($node[\"Append Inbound Event\"].json.thread_id) == null ? 'NULL::uuid' : \"'\" + String($node[\"Append Inbound Event\"].json.thread_id).replace(/'/g, \"''\") + \"'::uuid\" }},\n  {{ ($node[\"Append Inbound Event\"].json.contact_id) == null ? 'NULL::uuid' : \"'\" + String($node[\"Append Inbound Event\"].json.contact_id).replace(/'/g, \"''\") + \"'::uuid\" }},\n  'INSTAGRAM',\n  'META',\n  CASE {{ ($json.blocked_by) == null ? 'NULL' : \"'\" + String($json.blocked_by).replace(/'/g, \"''\") + \"'\" }}\n    WHEN 'opt_out' THEN 'OPT_OUT'\n    WHEN 'outside_24h_window' THEN 'WINDOW_BLOCK'\n    WHEN 'too_many_bot_outbound' THEN 'RATE_LIMIT_BLOCK'\n    ELSE 'MANUAL_REVIEW'\n  END,\n  {{ ($json.blocked_by || 'blocked') == null ? 'NULL' : \"'\" + String($json.blocked_by || 'blocked').replace(/'/g, \"''\") + \"'\" }},\n  jsonb_build_object('workflow', 'ig-inbound', 'blocked_by', {{ ($json.blocked_by || 'blocked') == null ? 'NULL' : \"'\" + String($json.blocked_by || 'blocked').replace(/'/g, \"''\") + \"'\" }}),\n  NOW()\n)\nRETURNING id"
      },
      "id": "ig-log-block",
      "name": "Log Compliance Block",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2840, 360],
      "credentials": {
        "postgres": {
          "id": "ADMIN_DB_CREDENTIAL_ID",
          "name": "Admin DB"
        }
      }
    }
  ],
  "connections": {
    "Webhook IG Inbound": { "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]] },
    "Respond 200 OK": { "main": [[{ "node": "Verify Meta Signature", "type": "main", "index": 0 }]] },
    "Verify Meta Signature": { "main": [[{ "node": "Parse Instagram Event", "type": "main", "index": 0 }]] },
    "Parse Instagram Event": { "main": [[{ "node": "Filter Unsupported Events", "type": "main", "index": 0 }]] },
    "Filter Unsupported Events": { "main": [[{ "node": "Check IG Dedup", "type": "main", "index": 0 }], []] },
    "Check IG Dedup": { "main": [[{ "node": "Already Processed?", "type": "main", "index": 0 }]] },
    "Already Processed?": { "main": [[{ "node": "Resolve Contact + Thread", "type": "main", "index": 0 }], []] },
    "Resolve Contact + Thread": { "main": [[{ "node": "Append Inbound Event", "type": "main", "index": 0 }]] },
    "Append Inbound Event": { "main": [[{ "node": "Update Contact Inbound State", "type": "main", "index": 0 }]] },
    "Update Contact Inbound State": { "main": [[{ "node": "Check Compliance Gates", "type": "main", "index": 0 }]] },
    "Check Compliance Gates": { "main": [[{ "node": "Apply Guardrails", "type": "main", "index": 0 }]] },
    "Apply Guardrails": { "main": [[{ "node": "Can Auto Reply?", "type": "main", "index": 0 }]] },
    "Can Auto Reply?": { "main": [[{ "node": "Load Conversation Context", "type": "main", "index": 0 }], [{ "node": "Log Compliance Block", "type": "main", "index": 0 }]] },
    "Load Conversation Context": { "main": [[{ "node": "Get NV Playbook", "type": "main", "index": 0 }]] },
    "Get NV Playbook": { "main": [[{ "node": "Build AI Prompt", "type": "main", "index": 0 }]] },
    "Build AI Prompt": { "main": [[{ "node": "Prepare AI Context", "type": "main", "index": 0 }]] },
    "Prepare AI Context": { "main": [[{ "node": "AI Closer Brain", "type": "main", "index": 0 }]] },
    "AI Closer Brain": { "main": [[{ "node": "Post-process AI", "type": "main", "index": 0 }]] },
    "Post-process AI": { "main": [[{ "node": "Sync Legacy Read Model", "type": "main", "index": 0 }]] },
    "Sync Legacy Read Model": { "main": [[{ "node": "Send IG Reply", "type": "main", "index": 0 }]] },
    "Send IG Reply": { "main": [[{ "node": "Append Outbound Event", "type": "main", "index": 0 }], []] },
    "Append Outbound Event": { "main": [[{ "node": "Hot Lead Alert", "type": "main", "index": 0 }]] },
    "Hot Lead Alert": { "main": [[{ "node": "Notify Sales", "type": "main", "index": 0 }], []] }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "outreach-v2" },
    { "name": "instagram" },
    { "name": "inbound" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-08T00:00:00.000Z",
  "versionId": "ig-inbound-v1"
}
