n8n-workflows/wf-seed-v2.json
{
  "name": "WF-SEED-V2 — Seed Diario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "seed-trigger",
      "name": "Cron Seed Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/outreach_leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,name,email,phone,source,category,last_channel,web,builder_url,store_slug" },
            { "name": "status", "value": "eq.NEW" },
            { "name": "order", "value": "created_at.asc" },
            { "name": "limit", "value": "50" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": {}
      },
      "id": "seed-fetch",
      "name": "Fetch NEW Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "seed-loop",
      "name": "Loop Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst phone = (item.phone || '').replace(/[^0-9+]/g, '');\nconst email = (item.email || '').trim().toLowerCase();\n\nconst validPhone = /^\\+?[1-9]\\d{7,14}$/.test(phone);\nconst validEmail = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\nconst firstName = (item.name || 'hola').trim().split(' ')[0] || 'hola';\nconst senderName = $env.OUTREACH_SENDER_NAME || 'equipo NovaVision';\nconst businessName = (item.name || item.category || 'tu negocio').trim();\nconst sourceChannel = (item.source || 'base comercial').toString();\nconst currentSalesChannel = (item.last_channel || 'WhatsApp').toString();\nconst ctaLink = item.builder_url || item.web || (item.store_slug ? `https://${item.store_slug}.novavision.app` : '') || $env.OUTREACH_CTA_LINK || 'https://admin.novavision.app/onboarding/start';\n\nreturn [{\n  json: {\n    ...item,\n    phone_clean: validPhone ? phone : null,\n    email_clean: validEmail ? email : null,\n    has_valid_phone: validPhone,\n    has_valid_email: validEmail,\n    first_name: firstName,\n    sender_name: senderName,\n    business_name: businessName,\n    source_channel: sourceChannel,\n    current_sales_channel: currentSalesChannel,\n    cta_link: ctaLink\n  }\n}];"
      },
      "id": "seed-validate",
      "name": "Validate Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{$json.has_valid_phone}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "seed-has-phone",
      "name": "Has Valid Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.WHATSAPP_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{$json.phone_clean}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"novavision_primer_contacto_qr_v1\",\n    \"language\": { \"code\": \"es_AR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": [\n          { \"type\": \"text\", \"text\": \"{{$json.first_name}}\" },\n          { \"type\": \"text\", \"text\": \"{{$json.sender_name}}\" },\n          { \"type\": \"text\", \"text\": \"{{$json.business_name}}\" },\n          { \"type\": \"text\", \"text\": \"{{$json.source_channel}}\" },\n          { \"type\": \"text\", \"text\": \"{{$json.current_sales_channel}}\" },\n          { \"type\": \"text\", \"text\": \"{{$json.cta_link}}\" }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "seed-send-wa",
      "name": "Send WA Seed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/outreach_leads?id=eq.{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"CONTACTED\",\n  \"last_channel\": \"WHATSAPP\",\n  \"last_contacted_at\": \"{{$now.toISO()}}\",\n  \"attempt_count\": 1,\n  \"next_followup_at\": \"{{$now.plus(3, 'days').toISO()}}\",\n  \"updated_at\": \"{{$now.toISO()}}\"\n}",
        "options": {}
      },
      "id": "seed-update-wa-ok",
      "name": "Update Lead WA OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -200],
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/outreach_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": {{$json.id}},\n  \"channel\": \"WHATSAPP\",\n  \"action\": \"SEED_SENT\",\n  \"direction\": \"OUTBOUND\",\n  \"attempt\": 1,\n  \"wamid\": \"{{$json.messages ? $json.messages[0].id : null}}\",\n  \"message_text\": \"[TEMPLATE] novavision_primer_contacto_qr_v1\",\n  \"processing_status\": \"processed\"\n}",
        "options": {}
      },
      "id": "seed-log-wa-ok",
      "name": "Log WA Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/outreach_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": {{$json.id}},\n  \"channel\": \"WHATSAPP\",\n  \"action\": \"SEED_FAILED\",\n  \"direction\": \"OUTBOUND\",\n  \"attempt\": 1,\n  \"error_message\": \"WA send failed\",\n  \"processing_status\": \"error\"\n}",
        "options": {}
      },
      "id": "seed-log-wa-fail",
      "name": "Log WA Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "has-email",
              "leftValue": "={{$json.has_valid_email}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "seed-has-email",
      "name": "Has Valid Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "fromEmail": "hola@novavision.com.ar",
        "toEmail": "={{$json.email_clean}}",
        "subject": "Tu tienda online en minutos — NovaVision",
        "emailType": "html",
        "html": "<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;\">\n<h2 style=\"color:#6C3CE1;\">¡Hola {{$json.name || 'emprendedor/a'}}! 👋</h2>\n<p>Soy del equipo de <strong>NovaVision</strong>. Te escribo porque vimos que tenés un emprendimiento y queremos ayudarte a vender online.</p>\n<p>Con NovaVision podés crear tu tienda online en <strong>menos de 15 minutos</strong>, sin necesidad de saber programar. Incluye:</p>\n<ul>\n<li>✅ Catálogo de productos con fotos</li>\n<li>✅ Carrito y pagos con Mercado Pago</li>\n<li>✅ Panel de administración simple</li>\n<li>✅ Diseño profesional optimizado para celular</li>\n</ul>\n<p style=\"text-align:center;margin:30px 0;\">\n<a href=\"https://novavision.com.ar/builder\" style=\"background:#6C3CE1;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-weight:bold;display:inline-block;\">Crear mi tienda gratis →</a>\n</p>\n<p style=\"color:#666;font-size:13px;\">Si no te interesa, no te preocupes — no te vamos a molestar más. Podés responder este email con cualquier consulta.</p>\n</div>",
        "options": {}
      },
      "id": "seed-send-email",
      "name": "Send Email Seed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1100, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "yWIgAG6zWIonR54e",
          "name": "Gmail — NovaVision"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/outreach_leads?id=eq.{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"CONTACTED\",\n  \"last_channel\": \"EMAIL\",\n  \"last_contacted_at\": \"{{$now.toISO()}}\",\n  \"attempt_count\": 1,\n  \"next_followup_at\": \"{{$now.plus(3, 'days').toISO()}}\",\n  \"updated_at\": \"{{$now.toISO()}}\"\n}",
        "options": {}
      },
      "id": "seed-update-email-ok",
      "name": "Update Lead Email OK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200],
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/outreach_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": {{$json.id}},\n  \"channel\": \"EMAIL\",\n  \"action\": \"SEED_SENT\",\n  \"direction\": \"OUTBOUND\",\n  \"attempt\": 1,\n  \"message_text\": \"[EMAIL] Seed intro\",\n  \"processing_status\": \"processed\"\n}",
        "options": {}
      },
      "id": "seed-log-email-ok",
      "name": "Log Email Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/outreach_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": {{$json.id}},\n  \"channel\": \"EMAIL\",\n  \"action\": \"SEED_FAILED\",\n  \"direction\": \"OUTBOUND\",\n  \"attempt\": 1,\n  \"error_message\": \"Email send failed\",\n  \"processing_status\": \"error\"\n}",
        "options": {}
      },
      "id": "seed-log-email-fail",
      "name": "Log Email Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Cron Seed Diario": {
      "main": [[{ "node": "Fetch NEW Leads", "type": "main", "index": 0 }]]
    },
    "Fetch NEW Leads": {
      "main": [[{ "node": "Loop Items", "type": "main", "index": 0 }]]
    },
    "Loop Items": {
      "main": [
        [{ "node": "Validate Contact", "type": "main", "index": 0 }],
        []
      ]
    },
    "Validate Contact": {
      "main": [[
        { "node": "Has Valid Phone?", "type": "main", "index": 0 },
        { "node": "Has Valid Email?", "type": "main", "index": 0 }
      ]]
    },
    "Has Valid Phone?": {
      "main": [
        [{ "node": "Send WA Seed", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send WA Seed": {
      "main": [
        [{ "node": "Update Lead WA OK", "type": "main", "index": 0 }],
        [{ "node": "Log WA Failure", "type": "main", "index": 0 }]
      ]
    },
    "Update Lead WA OK": {
      "main": [[{ "node": "Log WA Success", "type": "main", "index": 0 }]]
    },
    "Log WA Success": {
      "main": [[{ "node": "Loop Items", "type": "main", "index": 0 }]]
    },
    "Log WA Failure": {
      "main": [[{ "node": "Loop Items", "type": "main", "index": 0 }]]
    },
    "Has Valid Email?": {
      "main": [
        [{ "node": "Send Email Seed", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send Email Seed": {
      "main": [
        [{ "node": "Update Lead Email OK", "type": "main", "index": 0 }],
        [{ "node": "Log Email Failure", "type": "main", "index": 0 }]
      ]
    },
    "Update Lead Email OK": {
      "main": [[{ "node": "Log Email Success", "type": "main", "index": 0 }]]
    },
    "Log Email Success": {
      "main": [[{ "node": "Loop Items", "type": "main", "index": 0 }]]
    },
    "Log Email Failure": {
      "main": [[{ "node": "Loop Items", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [{ "name": "outreach-v2" }, { "name": "seed" }],
  "triggerCount": 1,
  "updatedAt": "2025-07-23T00:00:00.000Z",
  "versionId": "seed-v2-001"
}
