n8n-workflows/wf-weekly-report-v2.json
{
  "name": "WF-WEEKLY-REPORT – Reporte Semanal Outreach",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * 1"
            }
          ]
        }
      },
      "id": "report-trigger",
      "name": "Lunes 12:00 UTC (9:00 ART)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  count(*) FILTER (WHERE status = 'NEW') as funnel_new,\n  count(*) FILTER (WHERE status = 'CONTACTED') as funnel_contacted,\n  count(*) FILTER (WHERE status = 'IN_CONVERSATION') as funnel_in_conv,\n  count(*) FILTER (WHERE status = 'QUALIFIED') as funnel_qualified,\n  count(*) FILTER (WHERE status = 'ONBOARDING') as funnel_onboarding,\n  count(*) FILTER (WHERE status = 'WON') as funnel_won,\n  count(*) FILTER (WHERE status = 'COLD') as funnel_cold,\n  count(*) FILTER (WHERE status = 'LOST') as funnel_lost,\n  count(*) FILTER (WHERE status = 'DISCARDED') as funnel_discarded,\n  count(*) as total\nFROM outreach_leads;",
        "options": {}
      },
      "id": "report-funnel",
      "name": "Funnel Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, -200],
      "credentials": {
        "postgres": { "id": "ADMIN_DB_CREDENTIAL_ID", "name": "Admin DB" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  count(*) FILTER (WHERE status = 'CONTACTED' AND updated_at > now() - interval '7 days') as contacted_this_week,\n  count(*) FILTER (WHERE status = 'IN_CONVERSATION' AND updated_at > now() - interval '7 days') as conversations_this_week,\n  count(*) FILTER (WHERE status = 'QUALIFIED' AND qualified_at > now() - interval '7 days') as qualified_this_week,\n  count(*) FILTER (WHERE status = 'ONBOARDING' AND updated_at > now() - interval '7 days') as onboarding_this_week,\n  count(*) FILTER (WHERE status = 'WON' AND won_at > now() - interval '7 days') as won_this_week,\n  count(*) FILTER (WHERE status = 'LOST' AND lost_at > now() - interval '7 days') as lost_this_week,\n  count(*) FILTER (WHERE hot_lead = true AND status NOT IN ('WON','LOST','COLD','DISCARDED')) as hot_leads_active\nFROM outreach_leads;",
        "options": {}
      },
      "id": "report-weekly-activity",
      "name": "Actividad Semanal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": {
        "postgres": { "id": "ADMIN_DB_CREDENTIAL_ID", "name": "Admin DB" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  count(*) FILTER (WHERE direction = 'outbound') as msgs_sent_week,\n  count(*) FILTER (WHERE direction = 'inbound') as msgs_received_week,\n  count(DISTINCT lead_id) FILTER (WHERE direction = 'inbound') as unique_responders,\n  count(*) FILTER (WHERE direction = 'outbound' AND channel = 'whatsapp') as wa_sent,\n  count(*) FILTER (WHERE processing_status = 'error') as errors_week\nFROM outreach_logs\nWHERE created_at > now() - interval '7 days';",
        "options": {}
      },
      "id": "report-messaging",
      "name": "Metricas Mensajeria",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 200],
      "credentials": {
        "postgres": { "id": "ADMIN_DB_CREDENTIAL_ID", "name": "Admin DB" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ROUND(\n    count(*) FILTER (WHERE status = 'WON')::numeric / \n    NULLIF(count(*) FILTER (WHERE status != 'NEW'), 0) * 100, 2\n  ) as conversion_rate,\n  ROUND(\n    count(*) FILTER (WHERE status IN ('IN_CONVERSATION','QUALIFIED','ONBOARDING'))::numeric / \n    NULLIF(count(*) FILTER (WHERE status = 'CONTACTED'), 0) * 100, 2\n  ) as engagement_rate,\n  ROUND(AVG(ai_engagement_score) FILTER (WHERE ai_engagement_score > 0), 1) as avg_ai_score,\n  ROUND(AVG(followup_count) FILTER (WHERE status = 'WON'), 1) as avg_followups_to_win\nFROM outreach_leads;",
        "options": {}
      },
      "id": "report-kpis",
      "name": "KPIs Conversion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 400],
      "credentials": {
        "postgres": { "id": "ADMIN_DB_CREDENTIAL_ID", "name": "Admin DB" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, phone, email, status, ai_engagement_score, hot_lead, updated_at\nFROM outreach_leads\nWHERE hot_lead = true\n  AND status NOT IN ('WON', 'LOST', 'COLD', 'DISCARDED')\nORDER BY ai_engagement_score DESC\nLIMIT 10;",
        "options": {}
      },
      "id": "report-hot-leads",
      "name": "Top Hot Leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 600],
      "credentials": {
        "postgres": { "id": "ADMIN_DB_CREDENTIAL_ID", "name": "Admin DB" }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "report-merge",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 200]
    },
    {
      "parameters": {
        "jsCode": "const funnel = $input.all()[0]?.json || {};\nconst activity = $input.all()[1]?.json || {};\nconst msgs = $input.all()[2]?.json || {};\nconst kpis = $input.all()[3]?.json || {};\nconst hotLeads = $input.all()[4]?.json ? $input.all().slice(4).map(i => i.json) : [];\n\n// ── Validación de datos ──\nconst safeNum = (v) => {\n  const n = Number(v);\n  return (isNaN(n) || v === null || v === undefined) ? 0 : n;\n};\nconst safePct = (v) => {\n  const n = Number(v);\n  return (isNaN(n) || v === null || v === undefined) ? '0.0' : n.toFixed(1);\n};\n\nconst today = new Date().toLocaleDateString('es-AR', {dateStyle:'long'});\nconst weekAgo = new Date(Date.now() - 7*24*60*60*1000).toLocaleDateString('es-AR', {day:'2-digit',month:'2-digit'});\nconst todayShort = new Date().toLocaleDateString('es-AR', {day:'2-digit',month:'2-digit'});\n\n// ── Hot leads formatting ──\nlet hotLeadsSection = '';\nif (hotLeads.length > 0) {\n  hotLeadsSection = hotLeads.map((l, i) =>\n    `${i+1}. ${l.name || 'Sin nombre'} | Score: ${safeNum(l.ai_engagement_score)} | ${l.status}`\n  ).join('\\n');\n} else {\n  hotLeadsSection = 'Sin hot leads activos esta semana';\n}\n\nconst report = `📊 *REPORTE SEMANAL OUTREACH*\\n📅 Semana ${weekAgo} al ${todayShort} — ${today}\\n\\n━━━━━━━━━━━━━━━━━━\\n🔢 *FUNNEL ACTUAL*\\n━━━━━━━━━━━━━━━━━━\\n├ 🆕 NEW: ${safeNum(funnel.funnel_new)}\\n├ 📞 CONTACTED: ${safeNum(funnel.funnel_contacted)}\\n├ 💬 IN_CONVERSATION: ${safeNum(funnel.funnel_in_conv)}\\n├ ⭐ QUALIFIED: ${safeNum(funnel.funnel_qualified)}\\n├ 🏗️ ONBOARDING: ${safeNum(funnel.funnel_onboarding)}\\n├ 🏆 WON: ${safeNum(funnel.funnel_won)}\\n├ 🥶 COLD: ${safeNum(funnel.funnel_cold)}\\n├ ❌ LOST: ${safeNum(funnel.funnel_lost)}\\n└ 🗑️ DISCARDED: ${safeNum(funnel.funnel_discarded)}\\n📊 Total: ${safeNum(funnel.total)}\\n\\n━━━━━━━━━━━━━━━━━━\\n📈 *ACTIVIDAD ESTA SEMANA*\\n━━━━━━━━━━━━━━━━━━\\n├ Contactados: ${safeNum(activity.contacted_this_week)}\\n├ Conversaciones: ${safeNum(activity.conversations_this_week)}\\n├ Calificados: ${safeNum(activity.qualified_this_week)}\\n├ En Onboarding: ${safeNum(activity.onboarding_this_week)}\\n├ Ganados: ${safeNum(activity.won_this_week)}\\n├ Perdidos: ${safeNum(activity.lost_this_week)}\\n└ 🔥 Hot Leads activos: ${safeNum(activity.hot_leads_active)}\\n\\n━━━━━━━━━━━━━━━━━━\\n📨 *MENSAJERÍA (7d)*\\n━━━━━━━━━━━━━━━━━━\\n├ Enviados: ${safeNum(msgs.msgs_sent_week)}\\n├ Recibidos: ${safeNum(msgs.msgs_received_week)}\\n├ Respondedores únicos: ${safeNum(msgs.unique_responders)}\\n└ ⚠️ Errores: ${safeNum(msgs.errors_week)}\\n\\n━━━━━━━━━━━━━━━━━━\\n🎯 *KPIs*\\n━━━━━━━━━━━━━━━━━━\\n├ Conversión: ${safePct(kpis.conversion_rate)}%\\n├ Engagement: ${safePct(kpis.engagement_rate)}%\\n├ Avg AI Score: ${kpis.avg_ai_score || 'N/A'}\\n└ Avg Follow-ups to Win: ${kpis.avg_followups_to_win || 'N/A'}\\n\\n━━━━━━━━━━━━━━━━━━\\n🔥 *TOP HOT LEADS*\\n━━━━━━━━━━━━━━━━━━\\n${hotLeadsSection}`;\n\n// Validar que el reporte no está vacío\nif (!report || report.length < 100) {\n  throw new Error('Reporte generado vacío o incompleto');\n}\n\nreturn [{ json: { report, validated: true, charCount: report.length } }];"
      },
      "id": "report-format",
      "name": "Formatear y Validar Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $env.SALES_ALERT_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": {{ JSON.stringify($json.report) }} }\n}",
        "options": {}
      },
      "id": "report-send-wa",
      "name": "Enviar por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $env.SALES_ALERT_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"⚠️ *ERROR - Reporte Semanal*\\n\\nEl reporte semanal de outreach no se pudo generar.\\nError: {{ $json.error?.message || 'Error desconocido' }}\\n\\nRevisar n8n para más detalles.\" }\n}",
        "options": {}
      },
      "id": "report-fallback",
      "name": "Fallback - Avisar Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 450]
    }
  ],
  "connections": {
    "Lunes 12:00 UTC (9:00 ART)": {
      "main": [
        [
          { "node": "Funnel Snapshot", "type": "main", "index": 0 },
          { "node": "Actividad Semanal", "type": "main", "index": 0 },
          { "node": "Metricas Mensajeria", "type": "main", "index": 0 },
          { "node": "KPIs Conversion", "type": "main", "index": 0 },
          { "node": "Top Hot Leads", "type": "main", "index": 0 }
        ]
      ]
    },
    "Funnel Snapshot": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 0 }]
      ]
    },
    "Actividad Semanal": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 1 }]
      ]
    },
    "Metricas Mensajeria": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 2 }]
      ]
    },
    "KPIs Conversion": {
      "main": [
        [{ "node": "Merge All Data", "type": "main", "index": 3 }]
      ]
    },
    "Top Hot Leads": {
      "main": [
        [{ "node": "Formatear y Validar Reporte", "type": "main", "index": 0 }]
      ]
    },
    "Merge All Data": {
      "main": [
        [{ "node": "Formatear y Validar Reporte", "type": "main", "index": 0 }]
      ]
    },
    "Formatear y Validar Reporte": {
      "main": [
        [{ "node": "Enviar por WhatsApp", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "description": "Cron Lunes 9:00 ART. Genera reporte semanal con: funnel snapshot, actividad 7d, métricas de mensajería, KPIs de conversión, top hot leads. Envía por WhatsApp al número de alertas. Incluye validación de datos (safeNum/safePct) y fallback de error.",
    "templateCredsSetupCompleted": true
  },
  "tags": [
    { "name": "outreach" },
    { "name": "report" },
    { "name": "v2" },
    { "name": "production-ready" }
  ]
}
